@import "tailwindcss";

@theme {
      --color-primary: #FF5A5F;       /* DEFAULT */
      --color-primary-dark: #FF385C;  /* dark */
      --color-chocolate: #7B3F00;
      --color-deep-blue: #00008B;
    }